* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --bg-header: hsla(218, 17%, 62%, 1);
    --bg-heading: hsla(275, 18%, 79%, 1);
    --bg-primary: hsla(233, 100%, 97%, 1);
    --bg-secondary: hsla(312, 91%, 96%, 1);
  
    --fc-header: hsla(0, 0%, 100%, 1);
    --fc-text: hsla(274, 84%, 12%, 1);
    --fc-headings: hsla(232, 17%, 35%, 1);
  
    --ff--primary: 'Staatliches', cursive;
    --ff-secondary: 'Palanquin', sans-serif;
    --ff-foot:'Open Sans', sans-serif;
    --ff-alternative: 'Roboto', sans-serif;
  
    font-size: 62.5%;
    --fs-body: 2rem;
    --fs-primary: 4rem;
  }
  
  body  {
    text-align: center;
    font-family: var(--ff--primary);
    font-size: var(--fs-body);  
    max-width: clamp(38.4rem, 30rem + 100vw , 128rem);
    max-height: 72rem;
    margin: 0 auto;  
  }
  
  header {
    background: var(--bg-header);
    max-height: 72rem;
  }
  
  #logo {
  
    width: 13.7rem;
    height: 13.7rem;
    margin: 3.2rem auto 3.2rem;  
    transition: all 2s;
  }
  
  #logo:hover {
    transform: scale(1.6);
    filter: saturate(2);
  }
  header h1 {
    background: var(--bg-heading);
    min-height: 4.9rem;
    padding: 7px;
    
    
    color: #FFFFFF;
    font-size: var(--fs-primary);  
    text-transform: uppercase;
    font-weight: 400;
    line-height: 3.4rem;
  
    letter-spacing: 0.05em;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    
  }
  
  
  
  header p {
  
    background: var(--bg-primary);
      
    font-family: var(--ff-secondary);
    font-size: 1.6rem;
    color: var(--fc-text);
    line-height: 1.5rem;  
  
    display: flex;
    align-items: center;
    text-align: center;
  
    padding: 4rem 3rem 0;  
  }
  
  .page {
    background: var(--bg-primary);
    padding: 6rem 3rem 5rem;
    margin-bottom: 5rem;
  }
  
  
  .cards {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }
  
  .card {
    position: relative;
    transition: all 800ms;  
  }
  
  .card:hover {
    transform: scale(1.1);  
    filter: saturate(1.7); 
    cursor: pointer;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  .card img {
    animation: shining-topdown 2s;
  }
  
  @keyframes shining-topdown {
    from {
      filter: saturate(1.5);
      transform: translateY(-100px);
      opacity: 0;
    }
    
    to {
      filter: saturate(1);
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .card h2 {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
  
    font-size: var(--fs-body);
    color: var(--fc-headings);
    line-height: 3.4rem;
    letter-spacing: 0.05em;
    font-weight: 400;
  
    background-color: var(--bg-secondary);
    border-radius: 2rem;
    padding: 0 2.4rem;
    height: 3.5rem;  
  
    animation: growing 2s;
  }
  
  @keyframes growing {
    from {
      transform: scale(0)
    }
    50% {
      transform: scale(1.2);
    }
    to {
      transform: scale(1);
    }
    
  }
  
  #mobile-hidden {
    display: none;  
  }
  
  footer {
    font-family: var(--ff-foot);
    color: var(--fc-headings);
    padding-top: 5rem;
  
  
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.8rem;
    
  }
  
  footer a{
  font-weight: 700;
  text-decoration: none;
  color: var(--fc-headings);
  }
  
  footer a:hover {
    color: var(--fc-text)
  }
  
  @media (min-width: 768px) {
    body { 
      display: grid;
      grid-template-areas: 
      "A B" 
      "A B";
      grid-template-columns: 30% 70%;     
      
      margin: 5rem auto;
      
    }
    
    header {    
      max-height: 72rem;
      grid-area: A;
    }
  
    #logo {    
      margin: 3.2rem auto 3.2rem;  
      transition: all 2s;
    }
    
    header p {
      background: var(--bg-header);
  
      font-family: var(--ff-alternative);
      font-size: 1.6rem;
      color: #FFFFFF;
      line-height: 2rem;
      
      
      display: flex;
      align-items: center;
      text-align: center;
      
      padding: 8rem 5rem 0;      
      }
    
    .page {
      background: #FFFFFF;    
      grid-area: B;
      max-height: 72rem;    
    }
  
    main {    
      max-height: 59rem;
      max-width: 90.3rem;
      padding-left: 9.8rem; 
      }
  
    .cards {
      display: grid;
      grid-template-areas:
      "img1 img2 img3"
      "img4 img2 img6"
      "img4 img5 img6";  
      grid-template-columns: 1fr 1fr 1fr;  
      gap: 3.2rem;       
    }
  
    .cards div:nth-child(1) {
      grid-area: img1;
    }
  
    .cards div:nth-child(2) {
      grid-area: img2;
    }
  
    .cards div:nth-child(3) {
      grid-area: img5;
    }
  
    .cards div:nth-child(4) {
      grid-area: img4;
    }
  
    .cards div:nth-child(5) {
      grid-area: img3;
    }
  
    .cards div:nth-child(6) {
      grid-area: img6;
    }
        
    #mobile-hidden {
      display:inherit;  
    }
  
    footer {    
      height: 12.4rem; 
      
    }
  
  }
  
  
  
  